@media (max-width: 991px)
  .header
    justify-content: space-evenly
  .promo__wrapper
    align-items: center
    &__header
      font-size: 39px
    &__subheader
      font-size: 20px
    &__icons
      justify-content: space-evenly
    .button_order
      margin-top: 54px
      width: 260px
      height: 48px
      font-size: 15px
    &__link
      margin-top: 30px
      font-size: 15px
@media (max-width: 767px)
  .header
    flex-wrap: wrap
    &__phone
      margin-top: 20px
      margin-bottom: 10px
  .promo__header
    font-size: 36px
    font-weight: 600
  .promo__subheader
    font-size: 22px
    font-weight: 300
  .promo__icons
    margin-top: 60px
    width: 400px
  .promo__wrapper .button_order
    margin-top: 54px
    width: 250px
    height: 40px
    font-size: 14px
  .promo__link
    font-weight: 300
    margin-top: 20px
  .advantage__icons
    flex-direction: column
