@media (max-width: 991px)
  .header
    justify-content: space-evenly
  .promo__wrapper
    align-items: center
    &__header
      font-size: 39px
    &__subheader
      font-size: 20px
    &__icons
      justify-content: space-evenly
    .button_order
      margin-top: 54px
      width: 260px
      height: 48px
      font-size: 15px
    &__link
      margin-top: 30px
      font-size: 15px
  .advantage__icons
    margin: 10px
  .consultation
    text-align: center
  .feed-form
    align-items: center
  #slick-slide-control00, #slick-slide-control01, #slick-slide-control02
    visibility: hidden
  ::marker
    color: $main_color_red
@media (max-width: 767px)
  .header
    flex-wrap: wrap
    &__logo
        padding: 15px
    &__official
        padding: 15px
    &__contacts
        padding: 15px
    &__phone
      margin-top: 20px
      margin-bottom: 10px
  .promo__header
    font-size: 36px
    font-weight: 600
    text-align: center
  .promo__subheader
    font-size: 22px
    font-weight: 300
    text-align: center
  .promo__icons
    margin-top: 60px
    width: 400px
  .promo__wrapper .button_order
    margin-top: 54px
    width: 250px
    height: 40px
    font-size: 14px
  .promo__link
    font-weight: 300
    margin-top: 20px
  .advantage__icons
    flex-direction: column
  .consultation .consultation__title
    font-size: 32px
    font-weight: 600
    line-height: 1.5
    padding: 0 5px
  .consultation .consultation__description
    padding: 0 5px
  .consultation .feed-form .input
    width: 275px
    height: 45px
  .consultation
    .button_order
      width: 275px
      height: 45px
      font-size: 15px
  .catalog .catalog__tab
    font-weight: 700
    font-size: 12px
    width: 110px
@media (max-width: 403px)
  .header .header__official
    font-size: 16px
  .promo__icons
    flex-direction: column
    align-items: center
  .promo__icon
      margin-bottom: 35px
      font-size: 16px
      width: 200px
  .promo__wrapper .button_order
    margin-top: 40px
    width: 207px
    height: 36px
    font-size: 12px
  .promo__link
    font-size: 14px
  .catalog .catalog__tab
    font-weight: 600
    font-size: 9px
    width: 84px
  .feedback .feedback__el img
    width: 150px
    height: 150px
    margin-right: 17px
@media (max-width: 500px)
  .modal .modal__close
    top: 20px
    right: 20px
@media (max-width: 400px)
  .modal .modal__close
    top: 44px
    right: 40px
