* {
		font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
		max-width: 950px;
		margin: 0 auto;
}

.promo {
		min-height: 650px;
		padding: 21px 0 93px 0;
		background: url(../../img/bg_run.jpg) center center/cover no-repeat;
}

.promo__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 91px;
}

.promo__header {
		color: #ffffff;
		font-size: 42px;
		font-weight: 700;
		text-align: right;
		text-transform: uppercase;
}

.promo__subheader {
		color: #ffffff;
		font-size: 24px;
		font-weight: 500;
		text-align: right;
		text-transform: uppercase;
}

.promo__icons {
		margin-top: 71px;
		width: 425px;
		display: flex;
		justify-content: space-between;
}

.promo__icon {
		width: 110px;
		text-align: center;
		color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
}

.promo__icon img {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
}

.promo__link {
		color: #ffffff;
		font-size: 16px;
		font-weight: 500;
		text-align: right;
		margin-top: 20px;
}

.promo__link a {
		color: #ffffff;
		text-decoration: underline;
}

.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
}

.header .header__logo {
		width: 251px;
}

.header .header__logo img {
		width: 100%;
}

.header .header__official {
		color: #ffffff;
		font-size: 12px;
		font-weight: 500;
		text-align: center;
}

.header .header__official span {
		display: block;
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
}

.header__phone {
		display: block;
		text-decoration: none;
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
}

.header__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
}

.button {
		width: 150px;
		height: 30px;
		border-radius: 5px;
		background-color: #c70101;
		border-style: none;
		color: #ffffff;
		font-size: 12px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
}

.button_order {
		margin-top: 70px;
		width: 300px;
		height: 50px;
		font-size: 16px;
}

.advantage {
		min-height: 475px;
		padding: 70px 0 78px 0;
		background: #f6f6f6;
}

.advantage__header {
		margin-bottom: 65px;
		color: #0d0d0d;
		font-size: 30px;
		font-weight: 700;
		text-align: center;
}

.advantage__icons {
		display: flex;
		justify-content: space-between;
}

.advantage__icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #0d0d0d;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
}

.advantage__icon img {
		margin-top: 10px;
		margin-bottom: 38px;
		display: block;
}

.advantage__icon p {
		margin-top: 26px;
		color: #0d0d0d;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		width: 239px;
		height: 81px;
}

.advantage__icon p a {
		color: #c70101;
}

@media (max-width: 991px) {
		.header {
				justify-content: space-evenly;
		}
		.promo__wrapper {
				align-items: center;
		}
		.promo__wrapper__header {
				font-size: 39px;
		}
		.promo__wrapper__subheader {
				font-size: 20px;
		}
		.promo__wrapper__icons {
				justify-content: space-evenly;
		}
		.promo__wrapper .button_order {
				margin-top: 54px;
				width: 260px;
				height: 48px;
				font-size: 15px;
		}
		.promo__wrapper__link {
				margin-top: 30px;
				font-size: 15px;
		}
		.advantage__icons {
				margin: 10px;
		}
		.consultation {
				text-align: center;
		}
		.feed-form {
				align-items: center;
		}
		#slick-slide-control00, #slick-slide-control01, #slick-slide-control02 {
				visibility: hidden;
		}
		::marker {
				color: #c70101;
		}
}

@media (max-width: 767px) {
		.header {
				flex-wrap: wrap;
		}
		.header__logo {
				padding: 15px;
		}
		.header__official {
				padding: 15px;
		}
		.header__contacts {
				padding: 15px;
		}
		.header__phone {
				margin-top: 20px;
				margin-bottom: 10px;
		}
		.promo__header {
				font-size: 36px;
				font-weight: 600;
				text-align: center;
		}
		.promo__subheader {
				font-size: 22px;
				font-weight: 300;
				text-align: center;
		}
		.promo__icons {
				margin-top: 60px;
				width: 400px;
		}
		.promo__wrapper .button_order {
				margin-top: 54px;
				width: 250px;
				height: 40px;
				font-size: 14px;
		}
		.promo__link {
				font-weight: 300;
				margin-top: 20px;
		}
		.advantage__icons {
				flex-direction: column;
		}
		.consultation .consultation__title {
				font-size: 32px;
				font-weight: 600;
				line-height: 1.5;
				padding: 0 5px;
		}
		.consultation .consultation__description {
				padding: 0 5px;
		}
		.consultation .feed-form .input {
				width: 275px;
				height: 45px;
		}
		.consultation .button_order {
				width: 275px;
				height: 45px;
				font-size: 15px;
		}
		.catalog .catalog__tab {
				font-weight: 700;
				font-size: 12px;
				width: 110px;
		}
}

@media (max-width: 403px) {
		.header .header__official {
				font-size: 16px;
		}
		.promo__icons {
				flex-direction: column;
				align-items: center;
		}
		.promo__icon {
				margin-bottom: 35px;
				font-size: 16px;
				width: 200px;
		}
		.promo__wrapper .button_order {
				margin-top: 40px;
				width: 207px;
				height: 36px;
				font-size: 12px;
		}
		.promo__link {
				font-size: 14px;
		}
		.catalog .catalog__tab {
				font-weight: 600;
				font-size: 9px;
				width: 84px;
		}
		.feedback .feedback__el img {
				width: 150px;
				height: 150px;
				margin-right: 17px;
		}
}

@media (max-width: 500px) {
		.modal .modal__close {
				top: 20px;
				right: 20px;
		}
}

@media (max-width: 400px) {
		.modal .modal__close {
				top: 44px;
				right: 40px;
		}
}

.consultation {
		min-height: 680px;
		padding: 100px 0 92px 0;
		background: url("../../img/bg2.png") center center/cover no-repeat;
}

.consultation__title {
		color: #ffffff;
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 80px;
}

.consultation__description {
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 36px;
}

.consultation input.error {
		border: 1px solid #c70101;
}

.consultation label.error {
		border: none;
		font-size: 14px;
		color: white;
		margin-bottom: 15px;
}

.feed-form {
		display: flex;
		flex-direction: column;
}

.feed-form .input {
		width: 300px;
		height: 50px;
		border-radius: 5px;
		background-color: #ffffff;
		margin-bottom: 15px;
		border: none;
		padding: 0 20px;
		color: #4b4b4b;
		font-size: 14px;
		font-weight: 300;
}

.feed-form .button_order {
		margin-top: 5px;
}

.feed-form_mt25px {
		margin-top: 25px;
}

.carousel {
		padding: 82px 0;
		position: relative;
}

.carousel__inner {
		width: 750px;
		margin: 0 auto;
}

.carousel .slick-prev, .carousel .slick-next {
		position: absolute;
		top: 50%;
		left: -103px;
		transform: translateY(-50%);
		border: none;
		background: #ffffff;
}

.carousel .slick-next {
		right: -103px;
		left: auto;
}

.carousel .slick-dots {
		display: flex;
		flex-direction: row;
		justify-content: center;
}

.catalog {
		padding: 82px 0 103px 0;
}

.catalog__header {
		color: #0d0d0d;
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
}

.catalog__tabs {
		margin-top: 70px;
		list-style-type: none;
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		padding-left: 0;
}

.catalog__tab {
		width: 220px;
		height: 50px;
		border: 2px solid #d0d0d0;
		color: #6b6b6b;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		text-align: center;
		line-height: 50px;
		transform: skewX(-30deg);
		margin: 0 10px;
		cursor: pointer;
}

.catalog__tab:hover {
		box-shadow: 2px 2px 12px #474A50;
		border: none;
}

.catalog__tab div {
		transform: skewX(30deg);
}

.catalog__tab_active {
		background-color: #c70101;
		color: #ffffff;
		border: none;
}

.catalog__content {
		margin-top: 60px;
		display: none;
}

.catalog__content_active {
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
}

.catalog-item {
		width: 300px;
		min-height: 440px;
		border: 2px solid #e8e8e8;
		padding: 20px 20px 26px 20px;
		overflow: hidden;
		margin-bottom: 20px;
}

.catalog-item__img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		max-height: 200px;
}

.catalog-item__subtitle {
		margin-top: 20px;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
}

.catalog-item__description {
		margin-top: 16px;
		color: #0d0d0d;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
}

.catalog-item__link {
		display: block;
		margin-top: 17px;
		color: #c70101;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
}

.catalog-item__link:hover {
		color: #c70101;
}

.catalog-item hr {
		background-color: #acadad;
		margin: 19px 0 21px 0;
}

.catalog-item__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
}

.catalog-item__old-price {
		color: #555555;
		font-size: 14px;
		font-weight: 300;
		text-align: left;
		text-decoration: line-through;
}

.catalog-item__price {
		color: #050505;
		font-size: 20px;
		font-weight: 700;
		text-align: left;
}

.catalog-item__button {
		width: 131px;
		height: 40px;
		border-radius: 5px;
		background-color: #c70101;
		color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
		border: none;
}

.catalog-item__wrapper {
		display: flex;
		width: calc(200% + 40px);
}

.catalog-item__content {
		width: 50%;
		margin-right: 0px;
		transform: translateX(-100%);
		transition: 0.5s all;
}

.catalog-item__content_active {
		transform: translateX(0%);
		margin-right: 20px;
}

.catalog-item__list {
		position: relative;
		width: 50%;
		margin-left: 20px;
		transform: translateX(0%);
		padding-right: 20px;
		transition: 0.5s all;
		padding-left: 19px;
		margin-bottom: 0px;
		list-style-type: none;
}

.catalog-item__list_active {
		transform: translateX(-100%);
		margin-right: 0px;
}

.catalog-item__list li {
		position: relative;
		color: #555555;
		font-size: 14px;
		font-weight: 300;
		text-align: left;
		margin-bottom: 24px;
}

.catalog-item__list li:before {
		content: '';
		position: absolute;
		width: 5px;
		height: 5px;
		background-color: #c70101;
		left: -19px;
		top: 8px;
}

.catalog-item__back {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 0px;
		transform: translateX(calc(-50% - 19px));
		color: #c70101;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
		text-transform: uppercase;
}

.catalog-item__back:hover {
		color: #c70101;
}

.feedback__header {
		color: #0d0d0d;
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 70px;
}

.feedback__elems {
		display: flex;
		flex-direction: column;
		align-items: center;
}

.feedback__el {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
}

.feedback__el img {
		width: 169px;
		height: 169px;
		margin-right: 61px;
}

.feedback__el__txt {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
}

.feedback__el__txt .allName {
		color: #0d0d0d;
		font-size: 18px;
		font-weight: 700;
		text-align: left;
		margin-bottom: 14px;
}

.feedback__el__txt .numMar {
		color: #646464;
		font-size: 14px;
		font-weight: 300;
		text-align: left;
		margin-bottom: 19px;
}

.feedback__el__txt .text {
		color: #0d0d0d;
		font-size: 16px;
		font-weight: 300;
		text-align: left;
		margin-bottom: 100px;
}

.footer {
		height: 630px;
		position: relative;
}

.footer__info {
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		width: 460px;
		height: 270px;
		background-color: #c70101;
		padding: 50px 68px 60px 68px;
}

.footer .address {
		color: #ffffff;
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		margin-bottom: 36px;
		line-height: 20px;
}

.footer .phone {
		display: block;
		color: #ffffff;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 38px;
		text-decoration: none;
		line-height: 20px;
}

.footer .phone:hover {
		color: white;
}

.footer .social {
		display: flex;
		justify-content: center;
		align-items: center;
}

.footer .social__item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border: 2px solid #ffffff;
		border-radius: 50%;
		margin: 0px 15px 60px 15px;
}

.footer .social__item img {
		color: #ffffff;
}

.overlay {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		background: rgba(0, 0, 0, 0.56);
}

.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 380px;
		min-height: 400px;
		background-color: #f2f2f2;
		padding: 38px 35px 40px 35px;
}

.modal__close {
		position: absolute;
		top: 0px;
		right: -41px;
		font-size: 41px;
		line-height: 18px;
		color: #c70101;
		cursor: pointer;
}

.modal__title {
		color: #0d0d0d;
		font-size: 19px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 11px;
}

.modal__description {
		color: #0d0d0d;
		font-size: 14px;
		font-weight: 500;
		text-align: center;
		margin-bottom: 25px;
}

.modal_mini {
		min-height: 140px;
}

.modal .error {
		border: 1px solid #c70101;
		font-size: 14px;
		color: #4b4b4b;
}

.modal label.error {
		border: none;
		text-align: center;
		margin-bottom: 15px;
}

#consultation, #order, #thanks {
		display: none;
}
